/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-image:url('../img/paper_texture.jpg');  
}

.content_padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #002366;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

#header_image{
  position: static;
}

.wab_content, .wab_footer{
  position: relative;
}

.wab_content, .wab_footer, .wab_header{
 margin:0 auto;
 float: none;
}

img.bg_image{
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -999;
}















