

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-image:url('../img/paper_texture.jpg');  
}

.content_padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#header_image{
  position: static;
}

.wab_content, .wab_footer{
  position: relative;
}

img.bg_image{
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -999;
}















